body {
    
}

#header {
    
}
#header #top-menu {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #FFFFFF;
}
#header #top-menu button {
    margin-left: 5px;
    border-bottom: 0;
    padding: 5px 15px;
}
#header #top-menu button:first-child {
    margin-left: 0;
}

#header #pageName {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
}

#footer {
    text-align: center;
    width: 100%;
    border-top: 1px solid #FFFFFF;
    margin-top: 25px;
    padding: 10px 15px;
    font-weight: bold;
}

#content {
    height: 530px;
    padding: 25px;
}

#contentArea {
    height: 500px;
}

/*.wrapper {
    height: 70%;
    margin-left: 5%;
}*/

#input {
    padding: 10px 10px 10px 10px;
    width: 90%;
    height: 80%;
    background-color: white;
    color: black;
    overflow: scroll;
}

.divRead {
    height: 100%;
    text-align: center;
    margin-top: 130px;
}

#speed {
    
}